@import "tailwindcss";

:root {
  color-scheme: light dark;
  interpolate-size: allow-keywords;
}

@theme inline {
  --color-light: var(--color-gray-50);
  --color-dark: var(--color-gray-950);
  --color-foreground: light-dark(var(--color-dark), var(--color-light));
  --color-background: light-dark(var(--color-light), var(--color-dark));
  --color-muted: light-dark(var(--color-gray-500), var(--color-gray-400));
  --color-border: light-dark(hsl(from var(--color-dark) h s l / 20%), hsl(from var(--color-light) h s l / 40%));
  --color-primary: var(--color-violet-500);
  --color-danger: var(--color-rose-500);
  --color-warning: var(--color-amber-500);
  --color-success: var(--color-emerald-500);
  --color-primary-contrast: var(--color-violet-100);
  --color-danger-contrast: var(--color-rose-100);
  --color-warning-contrast: var(--color-amber-900);
  --color-success-contrast: var(--color-emerald-100);
}

@layer base {
  html {
    @apply bg-background text-foreground transition-colors accent-primary selection:bg-primary/33;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-medium;
  }
}
